<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" placeholder="Barry">
    </div>
    <div class="form-group col-md-6">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" placeholder="Allen">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="barry.allen@ccpd.com">
  </div>
  <div class="form-group">
    <label for="enquiry">Enquiry</label>
    <textarea type="textarea" class="form-control" id="enquiry"> </textarea>
  </div>
  <button  class="btn btn-block btn-primary">Submit</button>
</form>
<h3 id="formSubmit"> Contact Form </h3>